@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Slab&display=swap");

body {
  background: #c2c2c2;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.header {
  text-align: center;
  margin-top: 10%;
}

.calculator {
  margin: auto;
  border: 2px solid #03cef1;
  padding: 5px;
  background: #000;
  width: 320px;
  position: relative;
}

button {
  font-family: Roboto Slab, serif;
  font-size: 20px;
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid #000;
  border: none;
  background: #4d4d4d;
  cursor: pointer;
}

button:hover {
  color: #000;
  outline: 0.05em solid grey;
  z-index: 3;
}

.jumbo {
  width: 160px;
}

.formula {
  font-family: Josefin Sans, Impact, sans-serif;
  min-height: 20px;
  font-size: 20px;
  color: #fff;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.output {
  font-family: Josefin Sans, Impact, sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: right;
  line-height: 35px;
}
